* {
  box-sizing: border-box;
}

body {
  background: #e1c05d;
  background: -moz-linear-gradient(
    left,
    #76590b 0%,
    #cf9c11 10%,
    #ecb414 23%,
    #fafa74 35%,
    #fafafa 50%,
    #fafa74 65%,
    #ecb414 77%,
    #cf9c11 90%,
    #76590b 100%
  );
  background: -webkit-linear-gradient(
    left,
    #76590b 0%,
    #cf9c11 10%,
    #ecb414 23%,
    #fafa74 35%,
    #fafafa 50%,
    #fafa74 65%,
    #ecb414 77%,
    #cf9c11 90%,
    #76590b 100%
  );
  background: linear-gradient(
    to right,
    #76590b 0%,
    #cf9c11 10%,
    #ecb414 23%,
    #fafa74 35%,
    #fafafa 50%,
    #fafa74 65%,
    #ecb414 77%,
    #cf9c11 90%,
    #76590b 100%
  );
}
.header {
  background: #0a0618;
  background: -moz-linear-gradient(top, #0a0618 0%, #261c53 100%);
  background: -webkit-linear-gradient(top, #0a0618 0%, #261c53 100%);
  background: linear-gradient(top bottom, #0a0618 0%, #261c53 100%);
  position: fixed;
  color: white;
  font-size: 28px;
  border-bottom: 3px solid #4b37a3;
  width: 100%;
  position: absolute;
  margin-top: -8px;
  margin-left: -8px;
}
.header .title-mini {
  float: left;
  font-family: "Press Start 2P", cursive;
  font-size: 14px;
  padding: 15px;
}
.select-screen .main {
  width: 100%;
  padding: 100px 50px;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.select-screen .main .title {
  position: absolute;
  top: 0;
  width: 100%;
  background: black;
  color: white;
  font-family: "Press Start 2P", cursive;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}
.select-screen .main .character {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 3px solid #000;
  float: left;
  margin: 0 25px;
}
.select-screen .main .character.charmander {
  background: #fa7a47;
}
.select-screen .main .character.bulbasaur {
  background: #6bfa83;
}
.select-screen .main .character.squirtle {
  background: #64b2fa;
}
.buttondiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
#start {
  line-height: 60px;
  font-weight: bold;
  font-size: large;
  color: black;
  padding: 0 40px;
  background: lightblue;
  border: 3px solid #003060;
  border-radius: 40px;
  box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
}
#start:hover {
  background: #003060;
  color: white;
  top: 10px;
  box-shadow: none;
}

.hidden {
  display: none;
}
/* BATTLE SCREENX ============================================================*/
#battle-screen {
  background: url(//i.imgur.com/UZKEjzG.png) no-repeat center center;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  width: 100%;
  padding: 100px 50px;
  overflow: auto;
  height: 100vh;
}
